RewriteEngine on

RewriteRule ^image/([0-9a-zA-Z]+) index.php?view=image&id=$1 [NC,L]
RewriteRule ^tag/([0-9a-zA-Z\-]+) index.php?view=tag&tag=$1 [NC,L]
RewriteRule ^tag index.php?page=tagSelect [NC,L]
RewriteRule ^register index.php?page=register [NC,L]
RewriteRule ^login index.php?page=login [NC,L]
RewriteRule ^upload index.php?page=upload [NC,L]